html{background-color: #0e2d46;
}
body {
  font-family: "Montserrat", sans-serif;
  }
nav{color:white;
        display:flex;
        justify-content:space-between;
        align-items:center;}

a{color:white;}

.logo{
        font-weight:bald;
        font-size:58px;}


p{text-align: center;
  padding: 50px 20px;
        color:white;
        font-size:20px;}


.bottom-fixed{
     position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;   
  z-index: 10;
}

.cards{ display: flex;
        flex-direction:row;
        gap: 20px;
         justify-content: center;
         padding: 40px 20px;
        max-width: 1200px;
        margin: 0 auto;
        background-image:url('6219721.jpg');
        
}

.opened{width:360px;
        height:420px;
        background-color:#8c9495;
        border-radius:16px;}

.not_opened{width:360px;
        position:relative;
        height: 420px;
        background-color:red;
        border-radius:16px;}

.not_opened, .opened{ perspective:1200px;}
.card{position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:#091922;
        border-radius:16px;
        color:white;
        padding:20px;
        font-size:20px;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
transition:transform 0.5s ease opacity 0.5s ease;
transform-origin:top center;
backface-visibility:hidden;}

.card.flip-in{ transform:rotateX(0deg) tranlsateY(0) scale(1);
                opacity:1;
                transition:transform 0.42s cubic-bezier(.2,.9,.2,1), opacity 0.25s ease;
        }
.card.init-flip-in{
        transform:rotateX(90deg) translateY(-20px) translateZ(0);
        opacity:0;
        transition:none;
}

.card:nth-child(1){z-index:20;}
.card:nth-child(2){z-index:19; transform: scale(0.98);}
.card:nth-child(3){z-index:18; transform: scale(0.96);}
.card:nth-child(4){z-index:17; transform: scale(0.94);}
.card:nth-child(5){z-index:16; transform: scale(0.92);}
.card:nth-child(6){z-index:15; transform: scale(0.90);}
.card:nth-child(7){z-index:14; transform: scale(0.88);}
.card:nth-child(8){z-index:13; transform: scale(0.86);}
.card:nth-child(9){z-index:12; transform: scale(0.84);}
.card:nth-child(10){z-index:11; transform: scale(0.82);}
.card:nth-child(11){z-index:10; transform: scale(0.80);}
.card:nth-child(12){z-index:9; transform: scale(0.78);}
.card:nth-child(13){z-index:8; transform: scale(0.76);}
.card:nth-child(14){z-index:7; transform: scale(0.74);}
.card:nth-child(15){z-index:6; transform: scale(0.72);}

.controls{display:flex;
        gap:20px;
        justify-content:center;
        margin-top:20px;}

.btn{padding:12px 24px;
        background-color: aliceblue
        border:none;
        border-radius:8px;
        font-size:18px;
        cursor:pointer;}